body {
    font-family: Arial, sans-serif;
    background-image: url("island.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.login-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 550px;
    
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #0056b3;
}
h1{
    font-size: 30px;
    text-align: center;
    height: 625px;
   padding-top: 70px;
   color: rgb(254, 233, 3);
}
a:hover{
    color: #d30606;
}
img{
    position: absolute;
    bottom: 150px;
}
.secondpillar{
    position: absolute;
    left: 1200px;
}
